---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="px-[7.5vw] lg:px-[7.5rem] mt-[8vw] lg:mt-[8rem]">
		<section class="flex flex-col md:flex-row gap-[8.5vw]">
			<div class="grow flex flex-col gap-2 mt-10">
				<h1 class="text-xl">Hi, I’m Roy Sandoval, founder of <span class="underline">HyperGood</span></h1>
				<h2 class="text-4xl">We’re building dApps to onboard more people to web3 at HyperGood</h2>
			</div>
			<div class="flex flex-col lg:gap-12 gap-[3vw]">
				<div class="flex lg:gap-12 gap-[3vw]">
					<div class="bg-brand-gray-light md:h-[15.5vw] h-[12rem] aspect-[7/8] rounded-xl">
						img
					</div>				
					<div class="bg-brand-gray-light md:h-[15.5vw] h-[12rem] aspect-[7/8] rounded-xl">
						img
					</div>		
				</div>
				<div>
				<div class="bg-brand-gray-light h-[15.5vw] rounded-xl">
					img
				</div>
				</div>
			</div>
		</section>
		<section class="bg-white w-full pt-8 pb-10 px-12 flex justify-between items-center rounded-xl mt-20">
			<div>
				<h3 class="text-lg mb-2">Currently building</h3>
				<h3 class="text-4xl">Woosh</h3>
			</div>
			<div>
				img
			</div>
		</section>
		<section class="mt-20">
			<div>
				<h2 class="text-3xl max-w-[22ch] mb-6">Read my writings on my journey building and growing dApps on Ethereum</h2>
				<a class="underline">View all writings</a>
			</div>
			<div class="mt-12">
				<div class="p-4 bg-brand-white rounded-md gap-6">
					<div>
						<h3 class="text-2xl mb-2">Understanding ERC-4337</h3>
						<div class="flex gap-10"><span>Category</span><span>Tag</span><span>4 min</span></div>
					</div>
					<div class="bg-brand-gray-lighter px-4 py-6 rounded-md mt-6 h-[11rem]">
						<span>TLDR</span>
						<p class="text-lg mt-2">Smart accounts on Ethereum</p>
					</div>
				</div>
			</div>
		</section>
		</main>
		<Footer />
	</body>
</html>
