<footer class="w-full px-[7.5rem] mt-20 mb-10">
<div class="bg-brand-white px-12 py-10 border-xl">
	<span class="bold">Reach out to me</span>
	<div class="flex justify-between items-center mt-2">
		<a class="text-2xl underline">
			Twitter
		</a>
		<a class="text-2xl underline">
			Email
		</a>
		<a class="text-2xl underline">
			HyperGood
		</a>
	</div>
	</div>
</footer>