---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex items-center w-full justify-between px-[4vw] lg:px-[7.5rem] pt-8">
	<div class="h-10 w-10">
		<img  src="/logo.png"/>
	</div>
	<nav class="items-center bg-brand-gray-light rounded-md hidden md:flex">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Writings</HeaderLink>
		<HeaderLink href="/about">About Roy</HeaderLink>
	</nav>
	<a href="www.twtter.com/roysandoval_" target="_blank" class="hidden md:block">
		<div class="h-10 w-10">
			<img src="twitter.svg"/>
		</div>
	</a>
</header>

