---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class="w-[15rem] flex items-center justify-center h-[3.5rem] rounded-md bg-brand-primary text-[#FAF9F5]" {...props}>
	<slot />
</a>
